@use './colors' as *;
@use './media' as *;
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}
.wrapper {
	display: flex;
	width: 100%;
}
.nav-open {
	position: fixed;
	overflow-y: scroll;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index: -2;
}
.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $black;
	z-index: -1;
}
.section-title {
	margin: 2em 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 3rem;
	font-weight: 300;
}
.section {
	padding: 2em 0 5em;
}
.fa-check {
	color: $light-green;
}
.list-item-disabled {
	color: $gray;
}
.logo {
	margin-left: 20px;
	z-index: 99;
	font-size: 4rem;
	font-weight: 300;
	letter-spacing: 1px;
	i {
		color: $dark-green;
	}
}
.line {
	height: 2px;
	width: 100%;
	background-color: $gray;
}
.nav {
	padding: 1em;
	.wrapper {
		width: 100%;
		align-items: center;
	}

	&__mobile-button {
		position: absolute;
		right: 2em;
		background: transparent;
		border: none;
		z-index: 99;
		.fa-solid {
			padding: 0.5em;
			font-size: 4rem;
			color: $black;
		}
	}
	&__mobile {
		display: flex;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		transform: translateX(100%);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $white;
		z-index: 98;
		transition: transform 0.5s;
		&--active {
			right: 0;
			transform: translate(0%);
		}
		&-item {
			padding: 1em;
			font-size: 2rem;
			text-decoration: none;
			color: $black;
			border-bottom: 1px solid transparent;
			transition: color 0.3s, border-bottom 0.3s;
			&:hover {
				color: $gray;
				border-bottom: 1px solid $black;
			}
		}
	}
	&__links {
		display: none;
		height: 100%;
	}
	&__link {
		padding: 1.5em;
		font-size: 2rem;
		color: $black;
		text-decoration: none;
		transition: background-color 0.3s, color 0.3s;
		&:hover {
			background-color: $black;
			color: $white;
		}
	}
}
.header {
	position: relative;
	display: flex;
	height: 500px;
	justify-content: center;
	align-items: center;
	color: $white;
	.shadow {
		opacity: 0.7;
	}
	.hero-img {
		background-image: url('../img/jungle-1807476_640.jpg');
		background-attachment: fixed;
		background-position: bottom;
	}
	&__text {
		display: flex;
		width: 80%;
		justify-content: center;
		.wrapper {
			display: block;
		}
		&-name {
			font-size: 2rem;
			color: $gray;
		}
		&-heading {
			font-size: 4rem;
		}
	}
}
.aboutus {
	.wrapper {
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__img {
		width: 320px;
		height: 230px;
	}
	&__text {
		width: 80%;
		text-align: center;
		margin-top: 5em;
		h3 {
			font-size: 2rem;
			margin-bottom: 1em;
			font-weight: 700;
		}
		p {
			font-size: 1.6rem;
			line-height: 3rem;
		}
	}
}
.banner {
	position: relative;
	display: flex;
	height: 300px;
	justify-content: center;
	align-items: center;
	&__text {
		padding: 1em 0.3em;
		text-align: center;
		font-size: 3rem;
		color: $white;
		border: 1px solid $white;
	}
	.hero-img {
		background-image: url('../img/girl-5785590_640.jpg');
	}
	.shadow {
		opacity: 0.5;
	}
}
.offers {
	display: flex;
	flex-direction: column;
	align-items: center;
	.swiper {
		width: 400px;
		height: 450px;
		padding: 2em;
	}
	.section-title {
		margin-bottom: 1em;
	}
	.wrapper {
		flex-direction: column;
	}
	&__desription {
		text-align: center;
		font-size: 1.6rem;
		a {
			text-decoration: none;
			cursor: pointer;
			color: $light-green;
			font-weight: 700;
		}
	}
	&__boxes-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5em;
		&--desktop {
			display: none;
		}
	}
	&__box {
		display: flex;
		padding: 5em;
		margin: 0 4em;
		flex-direction: column;
		border-radius: 8px;
		align-items: center;
		text-align: center;
		box-shadow: 0px 0px 10px 1px $shadow;
		&-title {
			font-size: 2rem;
		}
		&-price {
			margin-top: 0.5em;
			font-size: 4rem;
			font-weight: 700;
		}
		&-list {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin: 2em 0;
			list-style-type: none;
			&-item {
				padding: 0.2em;
				font-size: 1.4rem;
			}
		}
		&-btn {
			width: 140px;
			padding: 0.5em 0;
			border: none;
			outline: none;
			background: $white;
			box-shadow: 0px 4px 10px 1px $shadow;
			border-radius: 8px;
			color: $black;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;
			&:hover {
				background-color: $black;
				color: $white;
			}
		}
	}
}
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100px;
	font-size: 1.5rem;
	background-color: $footer-bg;
	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		color: $gray;
	}
}
.footer__desktop {
	display: none;
	padding-top: 5em;
	background-color: $footer-bg;
	.wrapper {
		display: flex;
		justify-content: space-between;
	}
	&-box {
		display: flex;
	}
	&-list {
		margin: 0 5em;
		list-style: none;
		margin-bottom: 5em;
		&-title {
			font-size: 1.7rem;
			color: $black;
		}
		&-item {
			margin: 1em 0;
			font-size: 1.3rem;
			font-weight: 300;
			a {
				text-decoration: none;
				color: $gray;
				&:hover {
					color: $black;
				}
			}
		}
	}
}

@media (max-width: 320px) {
	@include media-320px;
}
@media (min-width: 768px) {
	@include media-768px;
}
@media (min-width: 992px) {
	@include media-992px;
}
@media (min-width: 1200px) {
	@include media-1200px;
}
